body {
  margin: 0;
  padding: 0;
  background-color: #2f3640;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 5px;
  overflow: hidden;
}

.cityInput {
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 6px;
}
.search-icon {
  padding: 6px;
  margin-top: 7px;
  height: 30px;
  cursor: pointer;
}
.searchimage {
  margin: 5px;
}

.image {
  text-align: center;
  height: 150px;
  margin: 20px 3px;
}
.image img {
  border-radius: 7px;
  width: 240px;
}
.temp,
.location,
.country {
  margin-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.temp {
  font-weight: 500;
}
.location {
  color: #ffbc00;
  font-weight: 400;
  font-size: 35px;
}
.country {
  font-size: 20px;
  color: #888;
  font-weight: 500;
}
.cord {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pad: 10px;
}
.cord div span {
  font-size: 14px;
}
.humidity-percent,
.cord div span:nth-child(2) {
  font-size: 18px;
  color: #666;
  padding-top: 5px;
}
.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.element {
  text-align: center;
}
.icon {
  height: 50px;
  width: 40px;
}
.text {
  font-size: 15px;
  color: #888;
}

.copy {
  text-align: center;
  font-size: 16px;
  color: #888;
}
.copy span {
  color: #333;
}
